# Dependency directories
node_modules/
node/

# Build related directories
target/
packages/*/build/
dist/

# Dotenv environment variable files
.env

# IDE configuration files
.idea
*.iml
.project
.settings/
.vscode/

# OS specific files
.DS_Store
